<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
<body>
  <div class="site-title">
    <a href="/">
      <h1>Blog Ninja</h1>
    </a>
    <p>A Net Ninja Site</p>
  </div>

  
  <%- include('partials/nav.ejs') %>
  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>
    <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>
    <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p> 
     <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>
     <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>
     <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>
     <p>Lorem ipsum dolor sit aconsecteturadipisicingeliNihil</p>

  </div>



  <%- include('partials/footer.ejs') %>
</body>
</html>